body {
    margin: 0;
    background-color: red; 
    color: white;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
}

.container {
    padding-top: 40vh;
}

h1 {
    font-size: 28px;
    font-weight: 300;
}

p {
    font-size: 16px;
    opacity: 0.7;
}
