body {
    margin: 0;
    background-color: #0d0d0d;
    color: white;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
}

.container {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: 300;
}

p {
    font-size: 16px;
    opacity: 0.7;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.8s ease;
}

.fade-in {
    opacity: 0;
    animation: aparecer 1s forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

#mainContent {
    opacity: 1;
    transition: opacity 0.8s ease;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease;
}

